<%= simple_form_for(@weather_grid) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>

    <% #<%= f.association :user %>

    <%= f.input :user, as: :hidden, input_html: {value: current_user.id, readonly: true } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
