<% if current_user.nil? %>

  <% if request.subdomain.blank? || request.subdomain == "www"  %>
    <%= link_to('Sign Up', new_user_registration_path) %>
    <br>
  <% else %>
    <%= link_to('Login', new_user_session_path) %>
    <br>
  <% end %>



<% else %>
  Welcome <%= current_user.email %> ! <br>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <%= link_to('Weather Grids', weather_grids_path) %>
  <% if can? :manage, :subscriptions %>
    <%= link_to('Manage Subscriptions', subscriptions_path) %>
  <% end %>
<% end %>

<% unless current_user.nil? %>

  <% if current_user.has_role? :app_admin %>
    <%= link_to('Invite an user', new_user_invitation_path) %>
  <% end %>

<% end %>
<br>

<h1><%= @message %></h1>
