<% if @account.stripe_plan_id %>
  <% if @account.active_until > Time.now  %>
    Your subscription is valid until <%= @account.active_until %>
    <% else %>
    Your subscription expired on <%= @account.active_until %>
  <% end %>
<% else %>
  You do not have a subscription plan
<% end %>
<br><br>
<%= link_to 'Change subscription', edit_subscription_path(@account.id), { class: "btn btn-primary"} %>
<br><br>
<%= link_to 'Cancel subscription', subscriptions_cancel_subscription_path, { class: "btn btn-primary"} %>
<br><br>
<%= link_to 'Update card'        , subscriptions_update_card_path, {class: "btn btn-primary" } %>
<br><br>
<%= link_to 'New Subscription'   , new_subscription_path, {class: "btn btn-primary" } %>