<h2><%= t "devise.invitations.new.header" %></h2>

<%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <%= f.input field %>
<% end -%>

<%= f.input :subdomain, input_html: { :value => (current_user ? current_user.subdomain : '' ),
            :readonly => true } %>

<%= f.button :submit, t("devise.invitations.new.submit_button") %>

<% end %>
