/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require climacons-font
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "subscriptions";
/*@import "climacons-font.css";*/
@import "weather_grids";

@font-face {
    font-family: 'Climacons-Font';
    src:font-url('climacons-webfont.eot');
    src:font-url('climacons-webfont.eot?#iefix') format('embedded-opentype'),
        font-url('climacons-webfont.svg#Climacons-Font') format('svg'),
        font-url('climacons-webfont.woff') format('woff'),
        font-url('climacons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  padding: 20px;
}


