// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.plan_box {
  /* #Style as required*/

}

.exp-field {
  display: inline-block;
  width: 100px;
}