<%= simple_form_for(@weather_location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :weather_grid %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :city %>
  </div>



  <div class="form-actions">
    <%= f.button :submit %>
    <button type="button" class="btn btn-primary" onClick="getLatNLong()">Get Lat/Long</button>
  </div>
<% end %>
